<div class="chat-list">
  <h2 class="title">Chats</h2>

  @for (chat of chats; track chat.userId) {
    <div
      class="chat-item"
      (click)="selectChat(chat)"
      [class.active]="chat.userId === activeChatId"
    >
      <img
        [src]="
          chat.profileImage
            ? 'data:image/jpeg;base64,' + chat.profileImage
            : 'assets/default_profile_pic.jpg'
        "
        alt="Profile"
        class="avatar"
      />

      <div class="chat-info">
        <div class="chat-header">
          <span class="username">{{ chat.username }}</span>
          @if (chat.lastMessage) {
            <span class="time">
              {{ chat.lastMessageTime | date: "dd/MM/yyyy" }}&nbsp;{{
                chat.lastMessageTime | date: "hh:mm a"
              }}
            </span>
          }
        </div>

        @if (chat.attachmentName) {
          <p class="last-message">
            {{ chat.attachmentName }}
          </p>
        } @else {
          <p class="last-message">
            {{ chat.lastMessage }}
          </p>
        }
      </div>
    </div>
  }
</div>
