.chat-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  // padding: 15px 15px 5px 15px;

  //scrollbar
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.title,
.searchBox {
  margin-top: 5px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;

  position: sticky;
  top: 0;
  background-color: #111b21;
  z-index: 10;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background 0.2s;
  cursor: pointer;
  border-radius: 6px;

  &:hover {
    background-color: #202c33;
    .chat-info {
      border-bottom: 1px solid transparent;
    }
  }
  &.active {
    background-color: #2a3942;
    .chat-info {
      border-bottom: 1px solid transparent;
    }
  }
}

.chat-item.active {
  background-color: #2a3942;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 12px;
}

.chat-info {
  flex: 1;
  border-bottom: 1px solid #2a3942;
  padding-bottom: 8px;
  min-height: 55px;
  min-width: 0; //last message ma ellipses apply thy te mate
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-weight: 500;
}

.time {
  font-size: 12px;
  color: #819099;
}

.last-message {
  width: 80%;
  font-size: 14px;
  color: #8696a0;
  margin: 2px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//searchbox scss:
.searchBox {
  padding: 8px;
  position: sticky;
  top: 45px; // Approximate height of the title
  background-color: #111b21;
  z-index: 10;

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #202c33;
    border-radius: 8px;
    padding: 2px 12px;
    transition: background-color 0.2s ease;

    .search-icon {
      color: #8696a0;
      font-size: 16px;
      margin-right: 15px;
    }

    .inptutBox {
      width: 100%;
      padding: 8px 0;
      background-color: transparent;
      color: #d1d7db;
      border: none;
      outline: none;
      font-size: 16px;

      &::placeholder {
        color: #8696a0;
        font-size: 14px;
      }
    }

    &:focus-within {
      background-color: #2a3942;

      .search-icon {
        color: #00a884;
      }
    }
  }
}
