<!-- <h2>Product Details</h2>
<p>Product ID: {{newid}}</p>

<h2>Product List</h2>
<ul>
    <li><a [routerLink]="['/about', 101]">About 101</a></li>
    <li><a [routerLink]="['/about', 102]">About 102</a></li>
    <li><a [routerLink]="['/about', 103]">About 103</a></li>
</ul>
<br>
<a routerLink="/home">Back to Product List</a> -->

<section class="about-us text-center">
  <div class="container mt-4">
    <h2 class="mt-5">About Us</h2>
    <p class="lead">
      we are dedicating to our team of professional passionates about delivering
      High qulity education and training.
    </p>

    <div class="row mt-5">
      <div class="col-md-4">
        <img
          src="assets/imgs/user_image.png"
          alt="userName"
          class="userImage"
        />
        <!-- assets mathi image no path mlvva frjiyat "angular.json" "src/assets" add krvu pde...nkr img path nahi mle -->
        <h4>Krish Moradiya</h4>
        <p>CEO & founder</p>
      </div>
      <div class="col-md-4">
        <img src="assets/imgs/user_image.png" alt="user2" class="userImage" />
        <h4>Jay Savaliya</h4>
        <p>CTO</p>
      </div>
      <div class="col-md-4">
        <img src="assets/imgs/user_image.png" alt="user3" class="userImage" />
        <h4>Sonu</h4>
        <p>Developer</p>
      </div>
    </div>
  </div>
</section>
