@switch(activatedChat$ | async)
{
@case(null) {
<div class="welcome">
    <div class="welcome-icon">
        <img src="assets/ConnectifyLogo.png" class="Connectify-icon" alt="Connectify" />
    </div>
    <h2>Welcome to Connectify</h2>
    <p>Make your conversation Easy</p>
</div>
}

@default(){
<div class="chat-container">
    <!-- header part -->
    <div class="chat-header">
        <img [src]="(activatedChat$ | async)?.profileImage ? 'data:image/jpeg;base64,' + (activatedChat$ | async)?.profileImage : 'assets/default_profile_pic.jpg'"
            class="avatar" alt="User image">
        <h4>{{(activatedChat$ | async)?.username}}</h4>
    </div>
    <!-- message body -->
    <div class="chat-messages" #messagesContainer>
        @for(msg of messages; track msg.messageId){
        <div class="message" [class.me]="msg.isMe">
            <div class="bubble">
                {{ msg.content }}
                <span class="time">
                    {{ msg.sentAt | date:'shortTime' }}
                </span>
            </div>
        </div>
        }
    </div>
    <!-- Messsage typing input  -->
    <div class="chat-input">
        <div class="addAndInput">
            <button class="sendfileBtn">
                <i class="bi bi-patch-plus"></i>
            </button>
            <input type="text" placeholder="Type a message" [(ngModel)]="messageText" (keyup.enter)="sendMessage()" />
        </div>
        <button class="sendMessageBtn" (click)="sendMessage()">
            <i class="bi bi-send-fill"></i>
        </button>
    </div>
</div>
}
}