.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  // message body
  .chat-messages {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    background-color: #0b141a;
    color: #8696a0;
    scrollbar-width: none;
    margin: 0px;
  }

  .scrollToBottomBtn {
    position: absolute;
    right: 20px;
    bottom: 70px;
    z-index: 10;
    cursor: pointer;

    background-color: #202c33;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    // Shadow for "Floating" effect
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition:
      transform 0.2s ease,
      background-color 0.2s;

    .custom-badge {
      position: absolute;
      top: -7px; // Position it on the top-right edge of the circle
      left: -8px;
      background-color: #00a884; // WhatsApp green
      color: white;
      font-size: 12px;
      padding: 2px 6px;
      border-radius: 10px;
      font-weight: bold;
      border: 2px solid #0b141a; // Matches background to make it "pop"
    }

    &:hover {
      background-color: #3b4a54;
      transform: scale(1.1);
    }

    // .bi-arrow-down-circle {
    //   display: none;
    // }

    &::after {
      content: "\F128";
      font-family: "bootstrap-icons";
      color: #8696a0;
      font-size: 20px;
    }
  }
  // .newMessageIndicator {
  //   display: inline;
  //   position: absolute;
  //   right: 45px;
  //   bottom: 97px;
  //   z-index: 10;
  //   cursor: pointer;
  //   color: red;
  // }
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #2a3942;
  h4 {
    margin: 0px !important;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.chat-header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.placeholder {
  text-align: center;
  margin-top: 50px;
}

// Messsage typing input
.chat-input {
  margin: 0px 10px 10px;
  display: flex;

  button {
    background: none;
    border: none;
    color: #00a884;
    font-size: 23px;
    cursor: pointer;
    padding: 0 10px;
  }
  .sendfileBtn {
    border-right: 1px solid rgba(77, 76, 76, 0.863);
    border-radius: opx;
  }
  .sendMessageBtn {
    border: 1px solid rgba(77, 76, 76, 0.514);
    border-radius: 50%;
  }
  // .TypeMessage {
  //   width: 100%;
  // }
}
.chat-input button:hover {
  opacity: 0.8;
}
.addAndInput {
  position: relative;
  width: 100%;
  display: flex;
  border: 1px solid rgba(77, 76, 76, 0.514);
  border-radius: 10px;
  padding: 5px;
  margin-right: 4px;

  .TypeMessage {
    background: transparent;
    border: none;
    outline: none;
    color: #e9edef;
    font-size: 18px;
    margin: 0px 5px;
    flex: 1;
  }
}
//messages
.message {
  display: flex;
  margin-bottom: 10px;
}

.message.me {
  justify-content: flex-end;
}

.bubble {
  max-width: 65%;
  padding: 6px 6px;
  border-radius: 8px;
  background-color: #202c33;
  color: #e9edef;
  position: relative;
}

.specialWidth {
  max-width: 320px;
}

.message.me .bubble {
  background-color: #005c4b;
}

.bubble-content {
  display: flex;
  flex-direction: column;
}

/* Image wrapper */
.media-wrapper {
  max-width: 320px;
  border-radius: 8px;
  overflow: hidden;
}

/* Image styling */
.media-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

/* Caption / text */
.text-content {
  font-size: 14px;
  line-height: 1.4;
  padding: 4px 0px 0;
  word-break: break-word;
}

.time {
  font-size: 10px;
  color: #8696a0;
  align-self: flex-end;
  // margin-top: -5px;
  // padding-right: 4px;

  .bi-check-all {
    font-size: 16px;
    margin-top: -3px;
  }
}
.Filepreview {
  width: 12rem;
  height: 7rem;
  position: absolute;
  bottom: 110%;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  overflow: hidden;
  z-index: 5;
}
.profile-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.IndicatorPin {
  position: absolute;
  height: 0.7rem;
  width: 0.7rem;
  rotate: 45deg;
  bottom: calc(110% - 0.4rem);
  left: 20px;

  background-color: #0b141a;
  border-right: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  z-index: 4;
}

.download-icon {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5)
    calc(var(--bs-modal-header-padding-x) * 0.5);
  margin-top: calc(-0.5 * var(--bs-modal-header-padding-y));
  margin-right: auto;
  margin-bottom: calc(-0.5 * var(--bs-modal-header-padding-y));
  margin-left: calc(-0.5 * var(--bs-modal-header-padding-x));

  border: rgba(77, 76, 76, 0.863);
  border-radius: 10px;
  padding: 8px;
  background-color: #005c4b;
  cursor: pointer;
}

//
.file-card {
  // display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px 0px 12px;
  border-radius: 10px;
  background: #f1f1f1;
  cursor: pointer;
  max-width: 260px;
}

.file-icon {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.file-info {
  display: flex;
  flex-direction: column;
}

.file-name {
  font-size: 12px;
  font-weight: 500;
  word-break: break-word;
}

.modalpopUpFile {
  position: relative;
}
.modalpopUpText {
  position: absolute;
  bottom: 0px;
  color: gray;
}
.color {
  color: dodgerblue;
}
