.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-main);

  // message body
  .chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: var(--bg-main);
    background-image: radial-gradient(var(--text-muted) 0.5px, transparent 0);
    background-size: 24px 24px;
    background-color: var(--bg-main);
    color: #8696a0;
    scrollbar-width: thin;
    margin: 10px 0px;
    opacity: 0.95;

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--border-color);
      border-radius: 10px;
    }
  }

  .scrollToBottomBtn {
    position: absolute;
    right: 20px;
    bottom: 70px;
    z-index: 10;
    cursor: pointer;

    background-color: #202c33;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    // Shadow for "Floating" effect
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition:
      transform 0.2s ease,
      background-color 0.2s;

    .custom-badge {
      position: absolute;
      top: -7px;
      left: -8px;
      background-color: #00a884;
      color: white;
      font-size: 12px;
      padding: 2px 6px;
      border-radius: 10px;
      font-weight: bold;
      border: 2px solid #0b141a;
    }

    &:hover {
      background-color: #3b4a54;
      transform: scale(1.1);
    }

    // .bi-arrow-down-circle {
    //   display: none;
    // }

    &::after {
      content: "\F128";
      font-family: "bootstrap-icons";
      color: #8696a0;
      font-size: 20px;
    }
  }
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #2a3942;
  background-color: var(--bg-sidebar);
  border-bottom: 1px solid var(--border-color);
  z-index: 10;
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
  }
  h4 {
    margin: 0px !important;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
  }
}

.placeholder {
  text-align: center;
  margin-top: 50px;
}

// Messsage typing input
.chat-input {
  padding: 10px 15px;
  margin: 0px;
  display: flex;
  align-items: center;

  button {
    background: none;
    border: none;
    color: #00a884;
    font-size: 23px;
    cursor: pointer;
    padding: 0 10px;
  }
  .sendfileBtn {
    border-right: 1px solid rgba(77, 76, 76, 0.863);
    border-radius: opx;
  }
  .sendMessageBtn {
    background-color: #00a884;
    color: #111b21;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 18px;
      color: #111b21;
    }
    &:hover {
      background-color: #06cf9c;
    }
  }
}
.chat-input button:hover {
  opacity: 0.8;
}
.addAndInput {
  background-color: #2a3942; // Lighter than the bar
  border: none; // Removed the gray border
  border-radius: 25px; // Fully rounded "pill" shape
  padding: 5px 15px;

  position: relative;
  width: 100%;
  display: flex;
  margin-right: 4px;

  .TypeMessage {
    background: transparent;
    border: none;
    outline: none;
    color: #e9edef;
    font-size: 15px;
    margin: 0px 5px;
    flex: 1;
  }
}
//messages
.message {
  display: flex;
  margin-bottom: 10px;
  width: 100%;

  &.me {
    justify-content: flex-end;

    .bubble {
      background-color: #005c4b; /* WhatsApp Dark Green */
      color: #e9edef;
      border-radius: 8px 0px 8px 8px;
    }
  }
  &:not(.me) .bubble {
    border-radius: 0px 8px 8px 8px;
  }
}

.bubble {
  max-width: 65%;
  padding: 6px 6px;
  border-radius: 8px;
  background-color: #202c33;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #e9edef;
  position: relative;
  border-top-left-radius: 0;
}

.specialWidth {
  max-width: 320px;
}

.bubble-content {
  display: flex;
  flex-direction: column;
}

/* Image wrapper */
.media-wrapper {
  margin: -4px -4px 4px -4px; // Pulls image to bubble edges
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  max-width: 320px;
  border-radius: 8px;
  overflow: hidden;
}

/* Image styling */
.media-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

/* Caption / text */
.text-content {
  font-size: 14px;
  line-height: 1.4;
  padding: 4px 0px 0;
  word-break: break-word;
}

.time {
  font-size: 10px;
  color: #8696a0;
  align-self: flex-end;
  // margin-top: -5px;
  // padding-right: 4px;

  .bi-check-all {
    font-size: 16px;
    margin-top: -3px;
  }
}
.Filepreview {
  width: 15rem; // Slightly wider
  height: 9rem;
  position: absolute;
  bottom: 120%;
  left: 10px;
  overflow: hidden;
  z-index: 5;
  background-color: rgba(32, 44, 51, 0.9);
  backdrop-filter: blur(10px); // Glassmorphism effect
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
}
.profile-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.IndicatorPin {
  position: absolute;
  height: 0.7rem;
  width: 0.7rem;
  rotate: 45deg;
  bottom: calc(110% - 0.1rem);
  left: 30px;

  background-color: #0b141a;
  border-right: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  z-index: 4;
}

.download-icon {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5)
    calc(var(--bs-modal-header-padding-x) * 0.5);
  margin-top: calc(-0.5 * var(--bs-modal-header-padding-y));
  margin-right: auto;
  margin-bottom: calc(-0.5 * var(--bs-modal-header-padding-y));
  margin-left: calc(-0.5 * var(--bs-modal-header-padding-x));

  border: rgba(77, 76, 76, 0.863);
  border-radius: 10px;
  padding: 8px;
  background-color: #005c4b;
  cursor: pointer;
}

.file-card {
  // display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px 0px 12px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  max-width: 260px;
  color: #e9edef;
}

.file-icon {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.file-info {
  display: flex;
  flex-direction: column;
}

.file-name {
  font-size: 12px;
  font-weight: 500;
  word-break: break-word;
}

.modalpopUpFile {
  position: relative;
}
.modalpopUpText {
  position: absolute;
  bottom: 0px;
  color: gray;
}
.color {
  color: dodgerblue;
}
