<div class="p-2">
  <a routerLink="/Employees-List">Employees List</a>
  <br />
  <p class="p-2">
    first Click on "Courses" and then "Course-Details" in Routing-Concept
    dropdown ==> to understand the Auxilary route concept
  </p>
  <!-- <div
    class="btn-group mt-2"
    role="group"
    aria-label="Basic radio toggle button group"
  >
    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio1"
      autocomplete="off"
      routerLink="/Courses"
    />
    <label class="btn btn-outline-secondary" for="btnradio1">Courses</label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio2"
      autocomplete="off"
      [routerLink]="[{ outlets: { course_details: ['Course-details'] } }]"
    />
    <label class="btn btn-outline-success" for="btnradio2"
      >Course-Details</label
    >

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio3"
      autocomplete="off"
    />
    <label class="btn btn-outline-danger" for="btnradio3">Radio 3</label>
  </div> -->
</div>
<!-- <router-outlet></router-outlet> ==> if we follow child route concept -->
