/* left-sidebar */
.left-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sidebar-bottom,
.sidebar-top {
  .States {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    span {
      font-size: 14px;
      cursor: pointer;
      color: #aebac1;
      margin-top: -5px;

      opacity: 0.7;
      transition:
        opacity 0.3s ease,
        color 0.3s ease;
    }

    i,
    span {
      transition: color 0.3s ease;
      transition:
        transform 0.2s ease,
        color 0.3s ease;
    }

    &:hover,
    &.active {
      background-color: rgba(0, 168, 132, 0.1);
      i {
        color: #01a07d;
        transform: scale(1.1);
      }
      span {
        color: #029172;
        margin-top: -5px;

        opacity: 1;
        color: #00a884;
      }
    }
  }

  i {
    display: block;
    font-size: 22px;
    color: #aebac1;
    text-align: center;
    cursor: pointer;
  }
  text-align: center;
  margin-bottom: 15px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
  font-size: 14px;

  &:hover .profile-text {
    color: #00a884;
  }

  &:hover .profile-icon {
    border-color: #00a884;
  }
}

.Connectify-icon {
  margin-top: 20px;
  width: 30px;
  height: 30px;
}
.profile-icon {
  width: 36px;
  height: 36px;
  border: 1px solid rgb(168, 165, 165);
  border-radius: 50%;
  cursor: pointer;
}
.bi-person-add {
  font-size: 25px !important;
}
