<!-- <div class="chat-container">

  <div class="chat-sidebar">
    <div class="sidebar-header">
      <img [src]="profileImage" class="sidebar-profile" />
      <span class="sidebar-username">{{ username }}</span>
    </div>

    <div class="sidebar-placeholder">Chats coming soon...</div>
  </div>

  <div class="chat-main">

    <div class="chat-header">
      <div class="chat-user">
        <img [src]="profileImage" />
        <div>
          <p class="name">{{ username }}</p>
          <p class="email">{{ email }}</p>
        </div>
      </div>

      <button class="logout-btn" (click)="LogOut()">Logout</button>
    </div>


    <div class="chat-body">
      <ul>
        @for (msg of messageList; track $index) {
        <li [class.me]="msg.IsMe">
          <span
            class="badge lh-sm message-bubble"
            [ngClass]="{
              'bg-success SenderBorder': msg.IsMe,
              'bg-secondary': !msg.IsMe,
              'mt-1': msg.isGrouped,
              'mt-3': !msg.isGrouped,
              RecieverBorder: !msg.isGrouped && !msg.IsMe,
              SenderBorder: !msg.isGrouped && msg.IsMe
            }"
          >
            {{ msg.message }}
          </span>
        </li>
        }
      </ul>
    </div>

    <div class="chat-input">
      <form [formGroup]="senderForm" (ngSubmit)="send()">
        <input
          type="text"
          formControlName="message"
          placeholder="Type a message"
        />
        <button type="submit">➤</button>
      </form>
    </div>
  </div>
</div> -->