.badge {
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 80%;
  text-align: left;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.SenderBorder {
  border-radius: 5px 0px 10px 5px;
}
.RecieverBorder {
  border-radius: 0px 5px 5px 10px;
}
