<div class="p-2">
  <div
    class="d-inline-block border border-secondary-subtle rounded-4 p-4 position-absolute top-50 start-50 translate-middle"
  >
    <h1 class="text-nowrap">Student Info Management</h1>

    <div class="text-center d-flex justify-content-center gap-3 mt-5">
      <button class="btn btn-outline-success fw-bolder" routerLink="/register">
        Register
      </button>
      <button class="btn btn-outline-primary fw-bolder" routerLink="/login">
        Login
      </button>
    </div>
  </div>
</div>
